:root {
  --darkened: hsla(0, 0%, 0%, 0.8);
  --border-style: 2px solid var(--darkened);
  --border-rad: 2px;
}

body {
  font-size: 24px;
  font-family: Helvetica, sans-serif;
  background: #fff;
  color: #333;
  margin: 0;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
}

#canvas {
  margin-left: 10em;
  overflow-y: scroll;
}

#doc-frame {
  position: fixed;
  right: 0;
  top: 0;
  border: var(--border-style);
  border-radius: var(--border-rad);
  height: calc(100vh - 100px);
}

.invisible {
  visibility: hidden;
}

#status-message {
  background-color: hsla(0, 100%, 50%, 0.8);
  margin: 1rem;
  padding: 1rem;
  text-shadow: none;
}

ul {
  list-style-type: none;
}

button {
  font-size: 1.2em;
  cursor: pointer;
  padding: 0.5em;
  border-radius: 0.5em;
  border-width: 8px;
  border-color: #333;
  border-style: solid;
  background-color: #fff;
  min-width: 44px;
}

.outer-container {
  display: flex;
}

a:link {
  color: #222;
  font-weight: 700;
}

a:visited {
  color: #ddd;
}

#version-info {
  position: absolute;
  right: 1.5em;
  top: 1.5em;
  font-size: 0.5em;
  color: #666;
}

.hidden {
  opacity: 0;
  transition: opacity 1s;
  display: none;
}

line {
  stroke-width: 2px;
  stroke: hsla(0, 0%, 0%, 0.8);
}

.tick {
  cursor: pointer;
}

.title {
  margin-top: 0;
}

.year-map {
  position: sticky;
  top: 30px;
  border: var(--border-style);
  border-radius: var(--border-rad);
  background-color: white;
}

.year {
  cursor: pointer;
}

.year rect {
  stroke: var(--darkened);
  fill: hsl(210, 70%, 80%);
}

.timelines-container {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.control-pane {
  position: fixed;
  bottom: 8px;
  left: 8px;
  width: 10em;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.doc-container {
  height: 100vh;
}

#doc-close-button {
  position: fixed;
  bottom: 0;
}

#doc-frame: {
  height: 90vh;
}

@media all and (max-height: 568px) {
  body {
    font-size: 18px;
  }
}
