:root {
  --darkened: hsla(0, 0%, 0%, 0.8);
  --border-style: 2px solid var(--darkened);
  --border-rad: 2px;
  --control-margin: 8px;
}

body {
  font-size: 24px;
  font-family: Helvetica, sans-serif;
  background: #fff;
  color: #333;
  margin: 0;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
}

.invisible {
  visibility: hidden;
}

#status-message {
  background-color: hsla(0, 100%, 50%, 0.8);
  margin: 1rem;
  padding: 1rem;
  text-shadow: none;
}

ul {
  list-style-type: none;
}

button {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
  border-width: 2px;
  border-color: #333;
  border-style: solid;
  background-color: #fff;
  width: 10em;
  min-width: 44px;
}

.outer-container {
  display: flex;
}

a:link {
  color: #222;
  font-weight: 700;
}

a:visited {
  color: #ddd;
}

.hidden {
  opacity: 0;
  transition: opacity 1s;
  display: none;
}

line {
  stroke-width: 2px;
  stroke: hsla(0, 0%, 0%, 0.8);
}

.tick {
  cursor: pointer;
}

.title {
  margin-top: 0;
  margin-bottom: 4px;
}

.map-container {
  position: sticky;
  top: 0;
  overflow-y: scroll;
}

.high-level-map {
  border: var(--border-style);
  border-radius: var(--border-rad);
  background-color: white;
}

.year,
.month {
  cursor: pointer;
}

.bar {
  stroke: var(--darkened);
  fill: hsl(210, 70%, 80%);
}

.high-level-map>text {
  fill: var(--darkened);
}

.day-map {
  margin-top: 30px;
}

.timelines-container {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.control-pane {
  position: fixed;
  bottom: var(--control-margin);
  left: var(--control-margin);
  width: 10em;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.doc-container {
  height: 100vh;
}

#doc-close-button {
  position: fixed;
  bottom: var(--control-margin);
  right: var(--control-margin);
}

#doc-frame {
  position: fixed;
  right: 0;
  top: 0;
  border: var(--border-style);
  border-radius: var(--border-rad);
  height: calc(100vh - 100px);
}